<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>About</title>
</head>
<body>
<div layout:fragment="content" class="container">

    <div class="container" style="background: brown">
        <h1 style="text-align: center;">TEST</h1>
        <p>Strona testowa</p>
        <p>
            <!--            <a class="btn btn-lg btn-primary" th:href="@{/country}" role="button">See people list</a>-->
        </p>
    </div>
</div>
</body>
</html>